.bg{
  background-image: url('../Images/bg.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100dvh;
  width: 100dvw;
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
}