@import "tailwindcss";

body{
  background-image: url("../Images/bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  backdrop-filter: saturate(70%);
  color: white;

}

.navGlassEffect {
  position: fixed;
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(40, 17, 20, 0.75);
  border: 1px solid rgba(255, 255, 255, 0.125);
}